* {
    box-sizing: border-box;
}

/* FONT-FACE */

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: semi-bold;
    src: url(../fonts/Poppins-SemiBold.ttf);
}

/* BASIC */

body {
    margin: 0;
    background-color: #22252c;
    font-family: poppins;
}

a {
    text-decoration: none;
}

input {
    border-radius: 28px;
    border: none;
    outline: none;
}

.btn:hover, .image:hover {
    cursor: pointer;
}

/* LAYOUT */

/* homepage */

.img-gallery {
    max-width: 1120px;
    margin: 1.25rem 60px;
    /* grid-auto-rows: 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 1.875rem;
    grid-row-gap: 1.625rem;
    justify-content: center;
}

/* .image {
    grid-column: span 1;
    grid-row: span 1;
} */

/* COMPONENTS */

/* home-page */

/* header */

.main-header {
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    border-radius: 37px;
    margin: 15px;
    font-size: 1.375rem;
    color: #ffffff;
    padding: 20px;
}

.nav-container {
    max-width: 1120px;
}

.hamburger {
    display: none;
    width: 55px;
}

.main-nav a {
    color: #ffffff;
}

.main-nav a {
    margin-inline-end: 60px;
}

/* main */

.main-content {
    background-color: #383b42;
    max-width: 1243px;
    margin: 20px auto;
    border-radius: 10px;
    align-items: center;
    padding-top: 1.5625rem;
}

.image {
    max-width: 100%;
    object-fit: cover;
    height: auto;
    border-radius: 10px;
}

.search {
    font-size: 1.3125rem;
    padding-top: 0.952em;
    padding-bottom: 0.952em;
    padding-inline-start: 2.380em;
    width: 541px;
    color: #fefefe;
    background-color: #22252c;
    align-self: start;
    margin-left: 3rem;
}

/* meme-editor */

.meme-editor {
    text-align: center;
    display: none;
}

.editor-container {
    margin: 20px 95px;
    flex-wrap: wrap;
}

.canvas-container {
    background-color: #383b42;
    border-radius: 10px;
}

canvas {
    display: block;
    margin: 20px auto;
    border: 1px solid black;
}

.tools-container {
    padding: 1.5625em 1.25em;
    align-items: center;
    background-color: #383b42;
    border-radius: 10px;
}

.meme-editor input {
    background-color: #ebeef3;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    text-align: center;
    font-size: 1.5625rem;
    padding: 0.8em 4.8em;
    margin-bottom: 1.08em;
}

.meme-editor .btn {
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 10px;
    background-color: #ebeef3;
    font-family: semi-bold;
    font-size: 2rem;
}

.btn-container1 {
    margin-bottom: 1.6875rem;
}

.btn-container1>* {
    padding: 0.60rem;
}

.btn-container1 :not(:last-child) {
    margin-inline-end: 1.25rem;
}

.btn.up, .btn.down {
    box-shadow: 0.2px 5px 0 #3b8bcc, inset 0 5px 0 rgba(255, 255, 255, 0.644);
    background-image: linear-gradient(-38deg, #007add 0%, #007add 50%, #007add 100%);
}

.btn.switch-lines {
    box-shadow: 0.2px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}

.btn.add {
    box-shadow: 0.2px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}

.btn.delete {
    box-shadow: 0.2px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
}

.btn-container2 {
    background-color: #19a59f;
    padding: 01.5625rem 1rem 1.25rem;
    margin-bottom: 1.375rem;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(5 fr);
    grid-template-rows: repeat(2 fr);
    grid-row-gap: 1.75em;
    grid-column-gap: 2.125em;
}

.btn-container2>* {
    box-shadow: 0.2px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.increase {
    grid-row: 1;
    grid-column: 1;
}

.decrease {
    grid-row: 1;
    grid-column: 2;
}

.align-start {
    grid-row: 1;
    grid-column: 3;
}

.align-center {
    grid-row: 1;
    grid-column: 4;
}

.align-end {
    grid-row: 1;
    grid-column: 5;
}

.meme-editor .btn-container2 .color-input {
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 10px;
    background-color: #ebeef3;
    font-family: semi-bold;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.meme-editor select {
    height: 55px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0 1rem;
    background-color: #ebeef3;
    font-family: semi-bold;
    font-size: 2rem;
    grid-row: 2;
    grid-column: 1 / 4;
}

.meme-editor .stroke {
    grid-row: 2;
    grid-column: 4;
}

.meme-editor .fill {
    grid-row: 2;
    grid-column: 5;
}

svg {
    height: 30px;
}

/* HELPERS */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}